@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
    --zoo-dark-green: #00593f;
    --zoo-orange: #e86526;
    --zoo-orange-hover: #d1541b;
    --white: #ffffff;
    --shadow: 0 10px 30px rgba(0,0,0,0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px;
    box-shadow: var(--shadow);
}

h1 {
    text-align: center;
    color: var(--zoo-dark-green);
    font-weight: 800;
    margin-bottom: 30px;
}

.btn {
    background-color: var(--zoo-orange);
    color: var(--white);
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--zoo-orange-hover);
    box-shadow: 0 4px 12px rgba(232, 101, 38, 0.2);
}

label {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    color: #4a4a4a;
}

input:not([type="checkbox"]), textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #eee;
    border-radius: 12px;
    background: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th {
    background-color: var(--zoo-dark-green);
    color: var(--white);
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
}

td {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
}

.evento {
    padding: 2%;
    background: #f8f0f0;
    border-radius: 12px;
}